* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #118c4f;
  padding: 50px;
}

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  padding-bottom: 25px;
  font-size: 30px;
}

#expenseFormSection {
  padding: 50px;
}

.formLabels {
  margin-top: 10px;
  font-size: 25px;
  display: grid;
}

input {
  width: 50%;
  border: gray solid 1px;
  border-radius: 10px;
  padding: 10px;
}

#addExpense {
  font-size: 20px;
  margin: auto;
}

#expenseTableSection {
  margin-bottom: 50px;
}

table,
th,
td {
  border: 1px solid rgb(77, 77, 77);
  border-collapse: collapse;
  padding: 50px;
  font-size: 23px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: rgb(48, 48, 48);
}
