* {
  margin: 0;
}

header {
  background-color: #118c4f;
  padding: 50px;
}

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  padding-bottom: 25px;
  font-size: 25px;
}

#expenseFormSection {
  padding: 50px;
}

.formLabels {
  margin-top: 10px;
}

/* 
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
 */
